/*.project
/.settings
/domain/.settings
/domain/.classpath
/domain/.project
/domain/domain.iml
/node/.project
/node/node.iml
/node/.settings
/node/.attach_pid23213
/node/.classpath
/rest-api/.project
/rest-api/rest-api.iml
/rest-api/.settings
/rest-api/.attach_pid20966
/rest-api/.classpath
/icarus-thesis.iml
/.idea
